*.py[cod]

# C extensions
*.so
*.o
*.a
*.mo

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
_pycache_

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
*.swp
*.log
